<!doctype html>

<!-- This should be the last page the user sees -->

<head>

</head>

<body>

	<table border="1">
		<tr>
			<td> The winner is: {{winner_name}} </td> <td> The biggest sinner is: {{sinner_name}} </td> <td> The most virtuous is: 					{{virtuous_name}} 		</td>
		</tr>
	
		<tr>
			<td>Sins:{{winner_sins}} | Virtues: {{winner_virtues}} </td> <td> Sins: {{sinner_sins}} | Virtues: {{sinner_virtues}} 				</td> <td> Sins:{{virtuous_sins}} | Virtues: {{virtuous_virtues}} </td>
		</tr>
	</table>
</body>

